body {
    font-family: "Times New Roman", Times, serif;
}

.row-margin{
	margin-top: 30px;
	margin-bottom: 30px
}

.noUi-connect {
  background: #336699;
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
-webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #369;
  padding: 2px;
  left: -9px;
  text-align: center;
  width: 50px;
  color: #fff;
  font-size: 11px;
}

.noUi-handle-lower .noUi-tooltip {
  top: -23px;
}

.noUi-handle-upper .noUi-tooltip {
  bottom: 27px;
}

a:link,
a:visited,
a:hover {
    color: #336699;
}

a:active {
    color: #336699;
}

.footer a:visited {
    color: #A61103;
}

.footer a:active {
    color: #F25C05;
}

.center-block {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.center-block.trim {
    /*max-width: 408px;*/
    max-width: 540px;
}

.center-block.slider {
    /*max-width: 408px;*/
    max-width: 700px;
}

.slider-wrapper {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #8c8c8c;
}



.navbar-default {
    background: #336699 !important;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #ffffff;
}

.panel {
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 170px;
    margin: 4px;
}

.panel-primary>.panel-body {
    color: black;
    text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}


.panel-default>.panel-body {
    padding: 8px 8px 8px 2px;
    text-align: left;
	
}

.panel-body-summary p{
	 margin: 10px 0 10px 0px;
    padding-left: 0px;
    line-height: 1.2em;
}

.panel-body h3 {
    font-size: 18px;
    margin: 10px 0;
}

.panel-body p {
    margin: 10px 0 10px 40px;
    padding-left: 0px;
    line-height: 1.2em;
}

.panel-body p img {
    margin-left: -20px !important;
}

.tag:not(:last-child)::after  {
    content: ", ";
    text-decoration: none;
    color: #000;
    display: inline-block;
    white-space:pre;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.padding {
    padding: 4px;
}

.footer {
    margin-top: 50px;
    padding-top: 12px;
    padding-bottom: 8px;
    border-top: solid 1px #EEE;
    color: #969696;
}

.img-wrapper {
    height: 150px;
    width: 150px;
    float: right;
	background-size: 150px;
    background-repeat: no-repeat;
	
}

.icon {
    height: 16px !important;
    margin: 0 !important;
    margin-top: 0px !important;
    margin-right: 4px !important;
    opacity: 1;
}

.level {
    margin: -2px 0 !important;
    opacity: 1;
    height: 28px;
    width: 28px;
    background: #336699;
    border-radius: 14px;
    display: inline-block;
    color: #ffffff;
    padding-top: 7px;
    font-size: 12px;
    text-align: center;
    padding-left: 0 !important;
}

.search-wrapper {
    position: relative;
	padding-top: 7px;
}

.search-wrapper button {
    position: absolute;
    right: 0px;
    top: 2px;
}

textarea:focus,
input[type="search"]:focus {
    border-color: #BBB;
    box-shadow: none;
    outline: 0 none;
}

.btn-link {
    font-weight: 400;
    color: #8c8c8c;
    border-radius: 0;
    border: none !important;
}

.btn:focus,
.btn:active {
    outline: solid 1px  #336699 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px #336699;
}

.btn-link:focus,
.btn-link:active {
    outline: none !important;
    box-shadow: none;
}
.btn-link:hover {
    color: #333333;
}
.label{
	margin: 2px 2px 2px 2px;
}
